<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>User profile</h1>

    <form action="/api/user" method="post">

        <input type="text" name="name" placeholder="Enter name">
        <input type="number" name="age" placeholder="Enter age">
        <button type="submit">Submit</button>
         
    </form>


    <% userinfo.forEach((ele)=>{ %>
        <li> <%= ele.name %> <%= ele.age %> <button ><a href="api/user/<%=ele.id%>">Delete</a></button></li>
       
         <!-- <button >Edit</button> -->
        
   <% }) %>
<ul>
   <% userinfo.forEach((ele)=>{  %>
    <li><%= ele.name %>  <%=ele.age %>


     
   <form action="http://localhost:3000/api/user/<%= ele.id %>?_method=DELETE" method="post">
    <button type="submit">Delete</button>

   </form>

 <button><a href="/editpage/<%= ele.id %>">Edit</a></button>
   </li>
 <%  })%>
</ul>

   

</body>

</html>


